[submodule "awesome/.config/awesome"]
	path = awesome/.config/awesome
	url = https://github.com/mchoji/awesome-config.git
[submodule "awesome"]
	branch = myruby
[submodule "oh-my-zsh/.oh-my-zsh/custom/plugins/zsh-autosuggestions"]
	path = oh-my-zsh/.oh-my-zsh/custom/plugins/zsh-autosuggestions
	url = https://github.com/zsh-users/zsh-autosuggestions
[submodule "oh-my-zsh/.oh-my-zsh/custom/plugins/zsh-syntax-highlighting"]
	path = oh-my-zsh/.oh-my-zsh/custom/plugins/zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting.git
[submodule "oh-my-zsh/.oh-my-zsh/custom/themes/powerlevel9k"]
	path = oh-my-zsh/.oh-my-zsh/custom/themes/powerlevel9k
	url = https://github.com/bhilburn/powerlevel9k.git
